<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->
<body>
<div layout:fragment="content" class="container body-content">
<div th:each="stop: ${busInfo.result}">
    <h4><span th:text="${stop.get(0).stationName}"></span></h4>
    <ul>
        <li style = "height: 50px;" th:each="bus: ${stop}">
            <span class="bus-gap"><span class="bus-delay" style="display: none;" th:text="${bus.timeToStation}"></span></span>
            <img class="bus" src="../../img/hiclipart.com.png">
            <span style="color: black;" th:text="${bus.lineName}"></span> -
            <span th:text="${bus.date}"></span>
        </li>
    </ul>
</div>
</div>
</body>
</html>