<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Bus Information</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <h2>Bus Information</h2>
    <div>
        <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>
    </div>

    <div th:each="stop: ${busInfo.stops}">
        <h3 th:text="${stop.name}"></h3>
        <div th:each="arrival: ${stop.arrivals}">
            <p>In <span th:text="${arrival.bestDepartureEstimate}"></span> minutes: <span th:text="${arrival.lineName}"></span> to <span th:text="${arrival.direction}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
