<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->
    <!--@thymesVar id="busInfoTwo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script defer src="../../js/load_bus_data.js" type="application/javascript"></script>
        <link rel="stylesheet" type="text/css" href="../../css/bus.css">
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <div class="jumbotron">
                <h1>BusBoard</h1>
                <p class="lead">Bus Information for postcode <span id="postcode" th:text = "${busInfo.postcode}"></span>. <a style="right: 0;" href="/">Enter a different postcode.</a></p>
            </div>
            <div id="bus-info-container">
            </div>
            <p class="lead" id="empty-explainer" style="display: none;">No stops found near this postcode. Are you sure you're in London?</p>
        </div>
    </body>
</html>