<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
        <script>
            setInterval(function () {location.reload(true)}, 2000);
        </script>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
                <div th:each="stop: ${busInfo.result}">
                    <h3><span th:text="${stop.get(0).stationName}"></span></h3>
                    <ul>
                        <li th:each="bus: ${stop}">
                            Bus <span th:text="${bus.lineName}"></span> arrival time: <span th:text="${bus.expectedArrival.getHour()}"></span>:<span th:text="${bus.expectedArrival.getMinute()}"></span>:<span th:text="${bus.expectedArrival.getSecond()}"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>